{% load static from staticfiles %}
{% load i18n %}

<div class="fixed">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
              <a href="{% url home %}">
                  <img src="{% static "images/CET_logo1.png" %}" id="cet_logo"/>
            </a>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <!-- Left Nav Section -->
        
        <!-- Right Nav Section -->
        
              <section>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <a href="{% url auth_logout %}" id="log">(Log out)</a>
                    {% else %}
                        <a href="{% url auth_login %}" id="log">(Log in)</a>
                    {% endif %}
                </ul>
                <ul class="right">
                  <li class="has-dropdown">
                      <a class="active" href="#">About us</a>
                      <ul class="dropdown">
                        <li><a href="/about/#mission" class="">Mission</a></li>
                        <li><a href="/about/#story" class="">History</a></li>
                        <li><a href="/about/#staff" class="">Team</a></li>
                      </ul>
                  </li>

                  <li class="has-dropdown">
                      <a class="active" href="#">International</a>
                      <ul class="dropdown">
                        <li><a href="/globalprograms/#startupatberkeley" class="">Startup@Berkeley</a></li>
                        <li><a href="/globalprograms/#tsinghua" class="">Tsinghua-Berkeley GTE Center</a></li>
                        <li><a href="/globalprograms/#syndicatedprograms" class="">Syndicated Programs</a></li>
                      </ul>
                  </li>
                  <li class="has-dropdown">
                      <a class="active" href="#">Programs</a>
                      <ul class="dropdown">
                          <li><a href="{% url program_list %}#cet_intro" class="">CET Certificate</a></li>
                        <li><a href="{% url program_list %}#vl_intro" class="">Venture Lab</a></li>
                        <li><a href="{% url program_list %}#ttt_intro" class="">Teach the Teachers</a></li>
                        <li><a href="{% url program_list %}#fung_intro" class="">Research @ the Fung Institute</a></li>
                        <!-- 
                        {% for program in programs %}
                        <li><a href="{{program.get_absolute_url}}" class="">{{program.name}}</a></li>
                        {% endfor %}
                         -->
                      </ul>
                  </li>
                  <li>
                      <a class="active" href="#">(Companies)</a>
                  </li>
                  <li>
                      <a class="active" href="{% url event_list %}">(Events)</a>
                  </li>
                  <li class="has-dropdown">
                      <a class="active" href="#">(Get Involved)</a>
                      <ul class="dropdown">
                        <li><a href="#" class="">Mentors</a></li>
                        <li><a href="#" class="">faculty</a></li>
                        <li><a href="#" class="">Alumni</a></li>
                        <li><a href="#" class="">Philantropy</a></li>
                        <li><a href="#" class="">Sponsors</a></li>
                      </ul>
                  </li>
                </ul>
              </section>

      </section>
    </nav>
</div>
