{% load static from staticfiles %}
{% load i18n %}

<div class="fixed">
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name hide-for-medium-down">
              <a href="{% url home %}">
                  <img src="{% static "images/Cet_logo2.png" %}" id="cet_logo" style="height:50px;"/>
                  <!-- CET -->
            </a>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      <section>
        <!-- Left Nav Section -->
        
        <!-- Right Nav Section -->
        
              <section>
                <ul class="right">
                    {% if user.is_authenticated %}
                        <a href="/profiles/dashboard/" id="log" class="button">{{user.username}}</a>
                    {% else %}
                        <a href="{% url auth_login %}" id="log" class="button radius">Sign in</a>
                    {% endif %}
                </ul>
                <ul class="right">

                    {% block about_link %}
                  <li>
                      <a class="active" href="/about/">About</a>
                  </li>
                  {% endblock %}
                  <li class="divider"></li>
                  <li>
                      <a class="active" href="/globalprograms/">Curriculum</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a class="active" href="/program/programs/">For Founders</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a class="active" href="/company/">CET Companies</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a class="active" href="/faq/">FAQ</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                      <a class="active" href="/donate/">Donate</a>
                  </li>
                  <li class="divider"></li>
<!--                   <li>
                      <a class="active" href="/contact/">Contact</a>
                  </li>
                  <li class="divider"></li> -->
                </ul>
              </section>

      </section>
    </nav>
</div>
