{% load static %}
{% load i18n %}
{% load url from future %}

<link href="{% static "foundation/stylesheets/social_foundicons.css" %}" rel="stylesheet">
<!--[if lt IE 8]>
    <link rel="stylesheet" href="{% static "foundation/stylesheets/social_foundicons_ie7.css" %}">
<![endif]-->            


<div id="copyright">
	<div class="row">

	    <section class="four columns">
	        <h4>Company</h4>
	        <ul class="side-nav">
			    <li><a href="#">About Us</a></li>
			    <li><a href="#">Contact Us</a></li>
			    <li><a href="#">Blog</a></li>
			    <li><a href="#">Press</a></li>
			    <li><a href="#">Support</a></li>
			</ul>

	    </section>

	    <section class="four columns">
	        <!-- <h4>© 2013 CET, Inc.</h4>
	        <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 14 years of experience building web products, services and websites into this framework. <a href="../about.php">Foundation Info and Goodies →</a></p> -->
	    </section>

	    <section class="four columns">
	        <h4>Need some help?</h4>
	        <ul class="inline-list" id="social_icons">
        		<li><h2><a href="http://www.facebook.com/"><i class="social foundicon-facebook"></i></a></h2></li>
			  	<li><h2><a href="http://www.twitter.com/"><i class="social foundicon-twitter"></i></a></h2></li>
			  	<li><h2><a href="http://www.wordpress.com"><i class="social foundicon-wordpress"></i></a></h2></li>
			  	<li><h2><a href="http://www.youtube.com"><i class="social foundicon-youtube"></i></a></h2></li>
	        </ul>
	        <ul class="side-nav">
	        	<li><a href="#">Terms and Conditions</a></li>
	        	<li><a href="#">Privacy Policy</a></li>
	        </ul>
	    </section>
	</div>
</div>


       




