{% load static %}
{% load i18n %}
{% load url from future %}

<link href="{% static "foundation/stylesheets/social_foundicons.css" %}" rel="stylesheet">
<!--[if lt IE 8]>
    <link rel="stylesheet" href="{% static "foundation/stylesheets/social_foundicons_ie7.css" %}">
<![endif]-->  

<div class="twelve columns" id="site-footer">
	<div class="row">
	  <div class="four columns">
	      <h2>Navigation</h2>
	      <p><a href="/contact/">Contact Us</a></p>
	      <p><a href="/construction/">Blog</a></p>
	      <p><a href="/construction/">Press</a></p>
	      <p><a href="/construction/">Support</a></p> 
	  </div>
	  <div class="four columns">
	      <h2>Legal</h2>
	      <p><a href="/construction/">Terms and Conditions</a></p>
	      <p><a href="/construction/">Privacy Policy</a></p>
	      <p>Site content © 2013 CET, inc.</p>
	  </div>
	  <div class="four columns">
		<h2>Social</h2>
		<ul class="inline-list" id="social_icons">
			<li><h2><a href="http://www.facebook.com/"><i class="social foundicon-facebook"></i></a></h1></li>
		  	<li><h2><a href="http://www.twitter.com/"><i class="social foundicon-twitter"></i></a></h2></li>
		  	<li><h2><a href="#"><i class="social foundicon-rss"></i></a></h2></li>
		  	<li><h2><a href="http://www.youtube.com"><i class="social foundicon-youtube"></i></a></h2></li>
		</ul> 
		<p><a href="/donate">Donate</a>
	  </div>
	</div>		
</div>







