{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block body %}
<div data-magellan-expedition="fixed" style="padding:10px 10px 0px 10px; background-color:#eee; width:100%; text-align:center;">
	<div class="row">
		<div class="twelve columns">
		<dl class="sub-nav" style="margin-bottom:0px;">
	    	<dd data-magellan-arrival="mission"><a href="#mission">Mission</a></dd>
	    	<dd data-magellan-arrival="staff"><a href="#staff">Staff</a></dd>
	    	<dd data-magellan-arrival="founder"><a href="#founder">Founder Stories</a></dd>
	    	<dd data-magellan-arrival="alumni"><a href="#alumni">Alumni</a></dd>
	    	<dd data-magellan-arrival="sponsors"><a href="#sponsors">Sponsors</a></dd>
	  	</dl>
	  </div>
	</div>
</div>

<div class="row">

	<div class="current" id="mission">
		<div data-magellan-destination="mission"></div>
		<h1 class="header-center">Our Mission</h1>
		<h4 class="content-center">The UC Berkeley CET aims to provide Berkeley founders with the tools to<br />innovate, productize, & commercialize their big ideas.</h4>
	</div>
	<hr />
	<div id="staff">
		<div data-magellan-destination="staff"></div>
		<h1 class="header-center">Our Staff</h1>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/Small%20Corp%20Profile%20Pic_1.png" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Ken Singer, Director</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="email"><a href="#">kensinger@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/chien_c.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Cindy Chien, Product Manager</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="email"><a href="#">chien@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/image001.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Marcia Hickman, Student Academic Advisor</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="email"><a href="#">marciahickman@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://m.c.lnkd.licdn.com/media/p/3/000/1d0/26f/0369912.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Donald Wroblewski, Instructor</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="email"><a href="#">dwroblewski@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div id="founder">
		<div data-magellan-destination="founder"></div>
		<h1 class="header-center">CET Founder Stories</h1>
		<div class="row">
			<div class="two columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Darshan Shankar, CET Alumni, CEO & Founder of Flotype</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="website"><a href="http://www.flotype.com">www.flotype.com</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/053/249/20a0ed6.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Anuj Verma, CET Alumni, CEO & Founder of Thirst</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="website"><a href="http://www.flotype.com">www.thirstlabs.com</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div id="alumni">
		<div data-magellan-destination="alumni"></div>
		<h1 class="header-center">CET Alumni Portfolio</h1>
		<div class="row">
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
			<div class="four columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/1555823954/flotype3_white_blue_bg.png" />
			</div>
		</div>
	</div>
	<hr />
	<div id="sponsors">
		<div data-magellan-destination="sponsors"></div>
		<h1 class="header-center">Sponsors</h1>
		<div class="row">
			<div class="two columns">
				<ul>
					<li>Agilent</li>
					<li>Applied Materials</li>
					<li>Boeing</li>
					<li>Cooper Industries</li>
					<li>Genentech</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Marvell Semiconductor</li>
					<li>National Instruments</li>
					<li>Qualcomm</li>
					<li>SanDisk</li>
					<li>Siemens</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Tallwood Venture Capital</li>
					<li>Adobe</li>
					<li>Applied Materials</li>
					<li>BlueGoji</li>
					<li>Dow Chemical</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Form Factor</li>
					<li>Headway Technologies</li>
					<li>HP Labs</li>
					<li>Marvell</li>
					<li>NetApp</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>SanDisk</li>
					<li>Siemens</li>
					<li>University of California, Office of the President</li>
				</ul>
			</div>
			<div class="two columns">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<p>For information about affiliating your company with the Berkeley Master of Engineering Program, contact Ikhlaq Sidhu, Chief Scientist, Fung Institute for Engineering Leadership.</p>
			</div>
		</div>
	</div>
</div>



{% endblock %}
