{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block body %}
<div data-magellan-expedition="fixed" class="top-bar-sub-nav">
	<div class="row">
		<div class="four columns centered">
		<dl class="sub-nav" style="margin-bottom:0px;">
	    	<dd data-magellan-arrival="mission"><a href="#mission">Mission</a></dd>
	    	<dd data-magellan-arrival="staff"><a href="#staff">Staff</a></dd>
	    	<dd data-magellan-arrival="founder"><a href="#founder">Founder Stories</a></dd>
	    	<dd data-magellan-arrival="sponsors"><a href="#sponsors">Sponsors</a></dd>
	  	</dl>
	  </div>
	</div>
</div>

<div id="mission" style="margin-top:0px; height:600px;">
	<div data-magellan-destination="mission"></div>
	<div style="background:url('/site_media/static/images/ChaseBuilding.png') no-repeat; height:100%; width:100%; background-size:contain;">
		<h1 style="margin-top:0px; margin-left:30px; padding-top:200px;">Our Mission</h1>
		<h4 style="margin-left:30px;">The UC Berkeley CET aims to provide Berkeley founders with<br />the tools to innovate, productize, & commercialize their big ideas.</h4>
	</div>
</div>

<div class="row">
	<div id="staff">
		<div data-magellan-destination="staff"></div>
		<h1 class="header-center">Our Staff</h1>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/Small%20Corp%20Profile%20Pic_1.png" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Ken Singer, Director</li>
				  	<li class="email"><a href="#">kensinger@berkeley.edu</a></li>
				  	<li>
				  	<p style="color:black;">Ken is a serial entrepreneur, technology executive, university lecturer, and director/advisor to numerous startups in the US and Europe. A 14-year veteran of the mobile industry (enterprise software and digital advertising), Ken has been cre- ating mobile solutions since cellphones first connected to the Internet at a whopping 28 kbps. Since then, he has founded or co-founded five companies in the mobility space. His experience spans all forms of mobile technology, from mobile video streaming to downloadable mobile apps; from Bluetooth to HTML5, GPS, SMS, IVR and he has served as a guinea pig for virtually every other acronym in the industry. He has worked closely with all the usual suspects--telcos, handset manufacturers, GPS mapping providers, SMS aggregators and industry associations.
				  	<br /><br />
					Most recently, Ken was the co-founder and CEO of AppCentral, the first enterprise app store to let companies distribute mobile applications to their employees' iPhones, iPads and Android devices. Ken successfully led the company through diffi- cult market conditions and several rounds of venture financing.
					<br /><br />
					Since 2008, Ken has been teaching the Mobile Applications and Entrepreneurship course in the College of Engineering. One of the first of its kind, the interdisciplin- ary course provides Berkeley students the opportunity to develop a working mobile application and business plan. Students pitch their businesses to active venture capi- talists for a chance to create a real startup company. Ken has been promoting the curriculum around the world through a non-profit organization he started with two of his industry colleagues. Today, the Berkeley Mobile International Collaborative (BMIC) sponsors international competitions for university entrepreneurs. Ken has helped organize the past three competitions which has played host to the best university-based mobile startups from virtually every continent.
					<br /><br />
					Ken is a frequent speaker at industry conferences and has been a guest lecturer at Tsinghua University and CYUPS in Beijing. As a firm believer in paying it forward, Ken is on the board of several startups and continues to advise and invest in some of the most promising mobile companies in the Silicon Valley, Berlin and Paris.
					</p>
					</li>
				  	
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/chien_c.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Cindy Chien, Product Manager</li>
				  	<li class="email"><a href="#">chien@berkeley.edu</a></li>
				  	<li>
				  	<p style="color:black;">
				  	Cindy manages product development, international business development, strategic alliances, alumni relations, marketing, and communications for the Center, the nexus of technology entrepreneurship at UC Berkeley. Fluent in Mandarin Chinese and conversational in Japanese, Cindy led CET's first major international development in Asia since 2009 and continues to be the key spokesperson for the Tsinghua- Berkeley Global Technology Entrepreneurship (GTE) Center located at Beijing, China.
				  	<br /><br />
					In her spare time, Cindy is the founder and owner of a wedding dance business and a real estate investment business. She enjoys innovation and believes in the power of higher education in creating positive change.
				  	</p>
				  	</li>
				  	
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://funginstitute.berkeley.edu/sites/default/files/styles/square_thumbnail/public/image001.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Marcia Hickman, Student Academic Advisor</li>
				  	<li><p style="color:black;">Marcia helps to schedule and facilitate the leadership courses for undergraduates in the CET program and the “Top of the T” courses for the Master of Engineering students.
				  	<br /><br />
					It is also her pleasure to advise the students in those programs on their Engineering Leadership coursework.
					</p>
					</li>
				  	<li class="email"><a href="#">marciahickman@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://m.c.lnkd.licdn.com/media/p/3/000/1d0/26f/0369912.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Donald Wroblewski, Instructor</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="email"><a href="#">dwroblewski@berkeley.edu</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div id="founder">
		<div data-magellan-destination="founder"></div>
		<h1 class="header-center">CET Founder Stories</h1>
		<div class="row">
			<div class="two columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Darshan Shankar, CET Alumni, CEO & Founder of Flotype</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="website"><a href="http://www.flotype.com">www.flotype.com</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="two columns">
				<img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/2/000/053/249/20a0ed6.jpg" style="width:100%;" />
			</div>
			<div class="ten columns">
				<ul class="vcard">
				  	<li class="fn">Anuj Verma, CET Alumni, CEO & Founder of Thirst</li>
				  	<li>Lorem ipsum dolor sit amet, at mei suas deleniti, duo no menandri pericula. Utroquepericula mei at, elit sententiae delicatissimi has ne. Prima simul per cu. Civibus tacimates sed in.</li>
				  	<li class="website"><a href="http://www.flotype.com">www.thirstlabs.com</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr />
	<div id="sponsors">
		<div data-magellan-destination="sponsors"></div>
		<h1 class="header-center">Sponsors</h1>
		<div class="row">
			<div class="two columns">
				<ul>
					<li>Agilent</li>
					<li>Applied Materials</li>
					<li>Boeing</li>
					<li>Cooper Industries</li>
					<li>Genentech</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Marvell Semiconductor</li>
					<li>National Instruments</li>
					<li>Qualcomm</li>
					<li>SanDisk</li>
					<li>Siemens</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Tallwood Venture Capital</li>
					<li>Adobe</li>
					<li>Applied Materials</li>
					<li>BlueGoji</li>
					<li>Dow Chemical</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>Form Factor</li>
					<li>Headway Technologies</li>
					<li>HP Labs</li>
					<li>Marvell</li>
					<li>NetApp</li>
				</ul>
			</div>
			<div class="two columns">
				<ul>
					<li>SanDisk</li>
					<li>Siemens</li>
					<li>University of California, Office of the President</li>
				</ul>
			</div>
			<div class="two columns">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<p>For information about affiliating your company with the Berkeley Master of Engineering Program, contact Ikhlaq Sidhu, Chief Scientist, Fung Institute for Engineering Leadership.</p>
			</div>
		</div>
	</div>
</div>



{% endblock %}
