{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />

        {% block viewport %}
            <!-- Set the viewport width to device width for mobile -->
            <meta name="viewport" content="width=device-width" />
        {% endblock %}

        <title>{% block head_title_base %}CET: {% block head_title %}{% endblock %}{% endblock %}</title>

        {% block style_base %}
            <link href="{% static "foundation/stylesheets/app.css" %}" rel="stylesheet">
            <link href="{% static "foundation/stylesheets/custom.css" %}" rel="stylesheet">
            <link href="{% static "foundation/stylesheets/social_foundicons.css" %}" rel="stylesheet">
            <!--[if lt IE 8]>
                <link rel="stylesheet" href="{% static "foundation/stylesheets/social_foundicons_ie7.css" %}">
            <![endif]-->

            {% block extra_style %}{% endblock %}
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->

        <!--[if lt IE 9]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}

        {% block script_base %}
            <script src="{% static "foundation/javascripts/foundation/modernizr.foundation.js" %}"></script>
            <script src="{% static "foundation/javascripts/foundation/jquery.js" %}"></script>
            <script src="{% static "foundation/javascripts/foundation/foundation.min.js" %}"></script>
            <script src="{% static "foundation/javascripts/foundation/app.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        {% block topbar_base %}
          <div class="fixed">
            <nav class="top-bar">
              <ul>
                <!-- Title Area -->
                <li class="name">
                      <a href="{% url home %}">
                          <img src="{% static "images/CET_logo1.png" %}" id="cet_logo"/>
                    </a>
                </li>
                <li class="toggle-topbar"><a href="#"></a></li>
              </ul>

              <section>
                <!-- Left Nav Section -->
               <!--  <ul class="left">
                  <li class="divider"></li>
                  <li class="has-dropdown">
                    <a class="active" href="#">About US</a>
                    <ul class="dropdown">
                      <li><label>Section Name</label></li>
                      <li class="has-dropdown">
                        <a href="#" class="">Level 1, Has Dropdown</a>
                        <ul class="dropdown">
                          <li><a href="#">Level 2</a></li>
                          <li><a href="#">Level 2</a></li>
                          <li class="has-dropdown"><a href="#">Level 2, Has Dropdown</a>
                            <ul class="dropdown">
                              <li><label>Section</label></li>
                              <li><a href="#">Level 3</a></li>
                              <li><a href="#">Level 3</a></li>
                              <li class="divider"></li>
                              <li><a href="#">Level 3</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Level 2</a></li>
                          <li><a href="#">Level 2</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Level 1</a></li>
                      <li><a href="#">Level 1</a></li>
                      <li class="divider"></li>
                      <li><label>Section Name</label></li>
                      <li><a href="#">Level 1</a></li>
                      <li><a href="#">Level 1</a></li>
                      <li><a href="#">Level 1</a></li>
                      <li class="divider"></li>
                      <li><a href="#">See all &rarr;</a></li>
                    </ul>
                  </li>
                  <li class="divider hide-for-small"></li>
                </ul> -->

                <!-- Right Nav Section -->
                <ul class="right">
                    {% if user.is_authenticated %}
                        <li class="has-button"><a class="secondary round button medium" href="{% url auth_logout %}">(Log out)</a></li>
                    {% else %}
                        <li class="has-button"><a class="secondary round button medium" href="{% url auth_login %}">(Log in)</a></li>
                    {% endif %}
                </ul>
                <ul class="right">
                  <li class="has-dropdown">
                      <a class="active" href="#">About us</a>
                      <ul class="dropdown">
                        <li><a href="#" class="">Mission</a></li>
                        <li><a href="#" class="">History</a></li>
                        <li><a href="#" class="">Team</a></li>
                      </ul>
                  </li>

                  <li class="has-dropdown">
                      <a class="active" href="#">International</a>
                      <ul class="dropdown">
                        <li><a href="#" class="">Startup@Berkeley</a></li>
                        <li><a href="#" class="">Tsinghua-Berkeley GTE Center</a></li>
                        <li><a href="#" class="">Syndicated Programs</a></li>
                      </ul>
                  </li>
                  <li class="has-dropdown">
                      <a class="active" href="#">Programs</a>
                      <ul class="dropdown">
                        <li><a href="#" class="">CET Certificate</a></li>
                        <li><a href="#" class="">Venture Lab</a></li>
                        <li><a href="#" class="">Teach the Teachers</a></li>
                        <li><a href="#" class="">Research @ Fung Institute</a></li>
                      </ul>
                  </li>
                  <li>
                      <a class="active" href="#">(Companies)</a>
                  </li>
                  <li>
                      <a class="active" href="#">(Events)</a>
                  </li>
                  <li class="has-dropdown">
                      <a class="active" href="#">(Get Involved)</a>
                      <ul class="dropdown">
                        <li><a href="#" class="">Mentors</a></li>
                        <li><a href="#" class="">faculty</a></li>
                        <li><a href="#" class="">Alumni</a></li>
                        <li><a href="#" class="">Philantropy</a></li>
                        <li><a href="#" class="">Sponsors</a></li>
                      </ul>
                  </li>
                </ul>
              </section>
            </nav>
          </div>
          {% include "_account_bar.html" %}

        {% endblock %}

        {% block body_base %}
            {% include "_messages.html" %}
            {% block body %}
            {% endblock %}
        {% endblock %}

        {% block footer_base %}
            {% include "_footer.html" %}
        {% endblock %}
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
