{% extends "base.html" %}

{% block head_title %}Contact{% endblock %}

{% block body %}
<div class="row">

	<h1 class="header-center">Contact</h1>
	<hr />

	<h5 class="contact-category-header">The Center for Entrepreneurship & Technology</h5>
	<p class="contact-category-answer">11th floor of the Chase Building<br />
		2150 Shattuck Ave., Berkeley, CA, 94704</p>

	<h5 class="contact-category-header">Enrollment, CET certification and courses</h5>
	<p class="contact-category-person">Marcia Hickman, Student Academic Advisor</p>
	<p class="contact-category-answer">marciahickman@berkeley.edu</p>

	<h5 class="contact-category-header">Founder, Mentorship and Program inquiries</h5>
	<p class="contact-category-person">Cindy Chien, Product Manager</p>
	<p class="contact-category-answer">chien@berkeley.edu</p>

	<h5 class="contact-category-header">Sponsorships, Events, Industry partnerships and Press</h5>
	<p class="contact-category-person">Ken Singer, Director</p>
	<p class="contact-category-answer">kensinger@berkeley.edu</p>

	<h5 class="contact-category-header">General Inquiries</h5>
	<p class="contact-category-answer">cetinfo@berkeley.edu</p>

</div>



{% endblock %}
