{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_title %}Donate{% endblock %}

{% block body %}
<div style="background:url('/site_media/static/images/donate.png') repeat; height:772px;">
	<div class="row">
		<div class="four columns">
		</div>
		<div class="eight columns">
			<h1 class="header-center"><br />Donate to fund Innovation</h1><br />
			<div class="header-center" style="border-radius:10px; border:2px solid #bbb; padding:20px; background:white; opacity:0.8; font-size:16px;">
				<p style="font-size:16pt;">Every dollar donated will go towards CET programs for Berkeley entrepreneurs.</p>
				<p style="font-style:italic;">Thank you for your support!</p>
				<a href="https://givetocal.berkeley.edu/egiving/index.cfm?Fund=FN3215000">Donate Here</a>
			</div>
		</div>
	</div>
</div>

<div class="row" style="padding-top:30px; padding-bottom:30px;">
	<div class="six columns" style="border-right:2px solid #ddd;">
		<h3>Sponsor an event at the CET</h3>
		<p>We welcome industry experts to hold events at the Berkeley CET and network with student entrepreneurs in our program.
			<a href="/contact/">Contact us</a>.
		</p>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
	<div class="six columns">
		<h3>Industry Partnerships</h3>
		<p>We are dedicated to continually developing mutually- beneficial relationships with Silicon Valley and Global firms. 
			<a href="/contact">Contact us</a>.
		</p>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</div>

{% endblock %}
