{% extends "base.html" %}

{% block head_title %}FAQ{% endblock %}

{% block body %}
<div data-magellan-expedition="fixed" style="padding:10px 10px 0px 10px; background-color:#eee; width:100%; text-align:center;">
	<div class="row">
		<div class="twelve columns">
		<dl class="sub-nav" style="margin-bottom:0px;">
	    	<dd data-magellan-arrival="cet"><a href="#cet">CET Certification</a></dd>
	    	<dd data-magellan-arrival="skydeck"><a href="#skydeck">SkyDeck</a></dd>
	    	<dd data-magellan-arrival="venturelab"><a href="#venturelab">Venture Lab</a></dd>
	  	</dl>
	  </div>
	</div>
</div>

<div class="row">
	<h1 class="header-center">FAQ</h1>
	<hr />

	<div class="current" id="cet">
		<div data-magellan-destination="cet"></div>
		<h4>CET Certification</h4>
		<p class="question">How many units are required for completion?</p>
		<p class="answer">Six units of related coursework.</p>
		<p class="question">What is the difference between E98, E198, and E298?</p>
		<p class="answer">These course numbers are all for the Distinguished Innovator Lecture Series. Juniors and seniors should sign up for E198; sophomores, E98; and graduate students, E298.</p>
		<p class="question">How many courses can be taken pass/fail?</p>
		<p class="answer">Of the six units, only E198 (E98, E298) or Venture Lab can be taken pass/fail. E198 is a pass/fail course.</p>
		<p class="question">Do I need receive a minimum grade for these courses?</p>
		<p class="answer">You must receive a grade of C or higher for each course in the concentration.</p>
		<p class="question">What if I am unsure a course counts toward the sequence?</p>
		<p class="answer">At the discretion of the CET director, a related course may be considered to count toward the concentration.<br /><br />
		Please provide a brief overview of the course you wish to include in the concentration as it relates to technology commercialization and/or entrepreneurship.<br /><br />
		Provide the course name, number, instructor and semester. E-mail your query to the Student Affairs Officer, Marcia Hickman (marciah@berkeley.edu).</p>
		<p class="question">When do I receive recognition of completion of the concentration?</p>
		<p class="answer">At the end of each semester, CET emails the link to an application to all students currently enrolled in a CET course. Those students who will fulfill the concentration requirements by the end of that semester, should complete the application online by the specified deadline. After grades are posted, applicants' credits are verified and the concentration recognitions printed. CET will email you when the recognition award is ready for pick up. Alternatively, can have it snail-mailed to you.</p>
	</div>
	<hr />

	<div id="skydeck">
		<div data-magellan-destination="skydeck"></div>
		<h4>Skydeck</h4>
		<p></p>
	</div>
	<hr />

	<div id="venturelab">
		<div data-magellan-destination="venturelab"></div>
		<h4>Venture Lab</h4>
		<p></p>
	</div>
	<hr />

</div>



{% endblock %}
