{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block body %}

	<div class="twelve columns" id="featuredContentDiv">
<!-- 		<div class="blurb">
				<ul>
				  	<li><h4><a href="#"><i class="foundicon-adult"></i>&nbsp;Students</a></h4></li>
				  	<li><h4><a href="#"><i class="foundicon-asl"></i>&nbsp;Founders</a></h4></li>
				  	<li><h4><a href="#"><i class="foundicon-network"></i>&nbsp;Investors</a></h4></li>
				  	<li><h4><a href="#"><i class="foundicon-glasses"></i>&nbsp;Industry</a></h4></li>
				</ul>
				<a class="round success button" href="#">Get Invite</a>
		</div> -->

				<div id="featuredContent">
					<div>
				    	<h2 style="color:white;">Get ready, set, go.</h2>
				    	<h4>Take courses and receive mentorship at<br /> the UC Berkeley CET and bring your startup<br /> dream to life.</h4>
				  	</div>
				  	<div>
				    	<h4>We can include text and buttons, like this!</h4>
				    	<p>We take no responsibility for what happens if you click this button.</p>
				    	<p><a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button" target="_blank">Rock My World!</a></p>
				  	</div>
				  	<div>
				    	<h4>What? You did not click it?</h4>
				    	<p>We give you the benefit of the doubt. Maybe you did, and now you are back!</p>
				  	</div>
				</div>
		</div>
	</div>


<!-- 	
	<style type="text/css">
		#blurb {
			margin-right: auto;
			margin-left: auto;
			position: absolute;
			z-index: 10;
			top: 64px;
			right: 0;
			left: 0;
		}
	</style>
-->








	<div class="twelve columns">
		<div class="one columns"></div>
		<div class="ten columns">
			<section class="four columns">
				<h6><strong>Success Story 1</strong></h6>
				<a href="#" class="th"><img src="http://blogs-images.forbes.com/carminegallo/files/2012/10/richard-branson-1.jpg"></a>
				<p>Story 1 is awesome and really awesome but it really is awesome. What is wrong here? Critique please.</p>
			</section>
			<section class="four columns">
				<h6><strong>Success Story 2</strong></h6>
				<a href="#" class="th"><img src="http://blogs-images.forbes.com/carminegallo/files/2012/10/richard-branson-1.jpg"></a>
				<p>Story 1 is awesome and really awesome but it really is awesome. Just saying that this is awesome. </p>
			</section>
			<section class="four columns">
				<h6><strong>Success Story 3</strong></h6>
				<a href="#" class="th"><img src="http://blogs-images.forbes.com/carminegallo/files/2012/10/richard-branson-1.jpg"></a>
				<p>Story 1 is awesome and really awesome but it really is awesome. And we are out of words. Lorem ipsum ....</p>
			</section>
		</div>
		<div class="one columns"></div>
	</div>













	<script type='text/javascript'>
	   $(window).load(function() {
	       $('#featuredContent').orbit({fluid: '16x5',
	       						 directionalNav: false,
	       						 bullets: false,
	       						 timer: true,
	       						});
	   });
	</script>

{% endblock %}