{% extends "base.html" %}

{% block head_title %}FAQ{% endblock %}

{% block body %}
<div data-magellan-expedition="fixed" class="top-bar-sub-nav" style="padding:10px 10px 0px 10px; background-color:#eee; width:100%; text-align:center;">
	<div class="row">
		<div class="five columns centered">
		<dl class="sub-nav" style="margin-bottom:0px;">
	    	<dd data-magellan-arrival="courses"><a href="#courses">Undergraudate Courses</a></dd>
	    	<!-- <dd data-magellan-arrival="lectureseries"><a href="#lectureseries">Lecture Series</a></dd> -->
	    	<dd data-magellan-arrival="cet"><a href="#cet">CET Certification</a></dd>
	  	</dl>
	  </div>
	</div>
</div>

<div style="margin-top:42px; height:600px;">
	<div style="background:url('/site_media/static/images/trees.png') no-repeat; height:100%; width:100%; background-size:contain">
		<h1 class="seven columns centered" style="margin-top:0px;padding-top:400px; color:white;text-align:center;">acquire the skills to become a successful entrepreneur</h1>
	</div>
</div>

<div class="row">
	<div class="current" id="courses" style="padding-bottom:100px;">
		<div data-magellan-destination="courses"></div>
		<h1 class="header-center" style="padding-bottom:20px;">Undergraduate Courses</h1>
		<p class="content-center" style="font-style:italic;padding-bottom:40px;">CET courses help students gain insight into leadership, entrepreneurship,<br /> commercialization, and innovation. Taught with the input of executives and<br /> entrepreneurs, CET courses combine classroom study with experiential learning</p>
		<p class="question">Technology Entrepreneurship</p>
		<p>Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		<p class="question">Leadership in Technology</p>
		<p>Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		<p class="question">Venture Lab Web 2.0</p>
		<p>Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		<p class="question">Mobile Applications</p>
		<p>Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		<p class="question">Patent Engineering</p>
		<p>Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		<p class="question">BOAT-Business Opportunities in Art and Technology</p>
		<p style="padding-bottom:20px;">Students undertake intensive study of actual business situations through rigorous case-study analysis.</p>
		
		<em style="padding-bottom:20px;font-size:14px;">The 6-unit CET Concentration in Engineering Leadership empowers students to become technology leaders through classroom and hands-on study of entrepreneurship and commercialization. Students not pursuing the concentration are welcome to enroll in individual classes.</em>

		<h6 style="padding-top:20px;">The concentration includes any 6 units of the related coursework found below:</h6>
		<ul>
			<li>Real Life Introduction to Entrepreneurship & Innovation:
				<ul>
					<li>Distinguished Innovator Lecture Series (E 198) / 1 unit, P/NP</li>
				</ul>
			</li>
			<li style="padding-top:10px;">Multidisciplinary Project Courses:
				<ul>
					<li>Engineering Entrepreneurship (IEOR 191) / 3 units</li>
					<li>Technology Leadership (IEOR 171) / 3 units</li>
					<li>Berkeley Method of Entrepreneurship-Bootcamp and class (IEOR 190A) / 2 or 3 units Web 2.0 (IEOR 190C) /1 or 2 units</li>
					<li>Mobile Applications/Product Management (IEOR 190D) 2 units</li>
					<li>Mobile Applications (IEOR 190E) / 3 units</li>
					<li>B.O.A.T. Business Opportunities in Art & Technology (IEOR 190F) / 1 or 2 units Patent Engineering (IEOR 190G) / 1 or 2 units</li>
					<li>Finance (E 120) / 1 unit</li>
				</ul>
			</li>
			<li style="padding-top:10px;">Other approved elective activities that apply towards the concentration:
				<ul>
					<li>LeaderShape Institute program may use that experience for one (1) elective credit.</li>
					<li>FounderSchool may use that experience for one (1) elective credit.</li>
					<li>Berkeley Mobile International Collaborative (BMIC) Challenge may use that experience for one (1) elective credit. Participants in the CET Venture Lab Competition may use that experience for credit.</li>
					<li>Participants in Skydeck Start-Up may use that experience for 1 or 2 credits (dependent on contribution.)</li>
				</ul>
			</li>
		</ul>
	</div>

<!-- 	<div id="lectureseries">
		<div data-magellan-destination="lectureseries"></div>
		<h1 class="header-center">Lecture Series</h1>
		<p class="question">Distinguished Innovator Lecture Series</p>
		<p>Take a one unit class and hear distinguished innovators share lessons from their own successes and failures.</p>
		<em>Some past speakers in the Lecture Series</em>
		<div class="row">
			<div class="three columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" /><br />
				<em>CEOof ABC, Bob White</em>
			</div>
			<div class="three columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" /><br />
				<em>CEOof ABC, Bob White</em>
			</div>
			<div class="three columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" /><br />
				<em>CEOof ABC, Bob White</em>
			</div>
			<div class="three columns">
				<img src="https://twimg0-a.akamaihd.net/profile_images/2618216020/mh52xpuarmqu3zvb0s9o.jpeg" style="width:100%;" /><br />
				<em>CEOof ABC, Bob White</em>
			</div>
		</div>
	</div>
	<hr />
 -->
	<hr />
	<div id="cet" style="padding-top:40px;padding-bottom:40px;">
		<div data-magellan-destination="cet"></div>
		<h1 class="header-center" style="padding-bottom:40px;">How to apply for CET Certification</h1>
		<p style="font-size:20px;">Please submit the online application during the semester in which you will complete the concentration requirements.</p>
		<p>
		If you have questions, please email Marcia Hickman, CET Student Services Officer (marciah@berkeley.edu) or check out our
		<a href="/faq/">FAQs</a></p>
		<p class="content-center" style="padding-top:40px;"><a href="#apply_reveal" class="button">CET Certificate Application</a></p>

	</div>
	<hr />

</div>

<div id="apply_reveal" class="reveal-modal">
    <form id="apply_reveal_form" method="post" action="">
        <h3>CET Certificate Program</h3>
        {% csrf_token %}
        {{certificate_form.as_p}}
        <input type="submit" class="nice medium radius blue button close-reveal-modal" id="apply_reveal_button" value="Apply!" />
    </form>
</div>
<script type="text/javascript">
    jQuery(function(){
        jQuery("#apply_reveal_button").click(function(){
            var alert_success = " \
                <div id='certificate_alert' class='alert-box success'> \
                    <div id='certificate_alert_text'>Successfully applied!</div> \
                    <a href='' class='close'>&times;</a> \
                </div> \
            ";
            var alert_error = " \
                <div id='certificate_alert' class='alert-box warning'> \
                    <div id='certificate_alert_text'>Failed to apply!</div> \
                    <a href='' class='close'>&times;</a> \
                </div> \
            ";

            jQuery.ajax({
                type:"POST",
                url:"{% url program_certificate_apply %}", 
                data: $("#apply_reveal_form").serialize(),
                success: function(data){
                    if(data.success==true)
                    {
                        jQuery("#certificate").prepend(alert_success);
                        jQuery("#certificate_alert_text").html(data.message);
                    }
                    else
                    {
                        jQuery("#certificate").prepend(alert_error);
                        jQuery("#certificate_alert_text").html(data.message);
                    }
                    jQuery("html, body").animate({ scrollTop: 0 }, "slow");
                }
            });

            return false;
        });
    });
</script>



{% endblock %}
