{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_title %}Home{% endblock %}

{% block body %}
	<div id="featuredContentDiv">
		<div class="row">
			<div class="two columns">
			</div>
			<div class="eight columns">
				<div id="featuredContent">
					<div>
						<div style="padding-top: 10px;">
					    	<h2>TOOLS FOR CAL ENTREPRENEURS</h2>
					    </div>
				    	<h4>The UC Berkeley CET gives you the resources to set your dream into motion.</h4>
				    	<a href="#" class="button">Learn More</a>
				  	</div>
				</div>
			</div>
			<div class="three columns">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="current" id="mission">
			<h1 class="header-center">Our Mission</h1>
			<h5 class="content-center">The UC Berkeley CET aims to provide Berkeley founders with the tools to<br /> innovate, productize, & commercialize their big ideas.</h5>
		</div>	
	</div>

	<div class="row">
		<div class="three columns">
			<a href="/profiles/signup/">
				<img style="width:300px;" src="/site_media/static/images/myCET_icon.png">
				<p class="content-center">myCET</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/globalprograms/#cet">
				<img style="width:300px;" src="/site_media/static/images/Certificate_icon.png">
				<p class="content-center">CET Certification</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/globalprograms/#courses">
				<img style="width:300px;" src="/site_media/static/images/Courses_icon.png">
				<p class="content-center">CET Courses</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/program/programs/#venturelab">
				<img style="width:300px;" src="/site_media/static/images/VentureLab_icon.png">
				<p class="content-center">Venture Lab</p>
			</a>
		</div>

		<hr />
	</div>


	<div class="row">
		<div class="four columns">
			<h3>News</h3>
			<hr />
            {% for item in new_items %}
                <h6>{{item.title}}</h6>
                <p>{{item.description}}</p>
            {% endfor %}
		</div>
		<div class="four columns">
			<h3>Events</h3>
			<hr />
			{% for event in events %}
			<div class="row">
				<div class="five columns">
					<img class"event-image" src="{{event.image.url}}">
				</div>
				<div class="seven columns">
					<h6>{{event.start_time|date:"l, j N Y"}}</h6>
					<p>{{event.description|truncatechars:140}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="four columns">
			<h3>Testimonials</h3>
			<hr />
			<blockquote>“I'd have to say it was eye opening. My original thoughts of industry and how the business world works were significantly changed after going through the courses.”<cite>Carolyn Kao</cite></blockquote>
			<blockquote>"I'm starting a company as we speak. I always thought I would lead a company. CET opened my eyes that I could do it from an early age."<cite>Carolyn Kao</cite></blockquote>
			<blockquote>“(Without CET), I would have never started my own company. And never would have gotten a job at Google."<cite>Carolyn Kao</cite></blockquote>
			<blockquote>“The most practical, hands-on course I've taken... Amazing."<cite>Carolyn Kao</cite></blockquote>
		</div>
		<hr />
	</div>
    <script type='text/javascript'>
	   $(window).load(function() {
	       $('#featuredContent').orbit({ fluid:'16x5', directionalNav: false, bullets:true, bulletsThumbs:true, });
	 });
	</script>












{% endblock %}


