{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_title %}Home{% endblock %}

{% block body %}
	<div id="featuredContentDiv">
		<div class="row">
			<div class="two columns">
			</div>
			<div class="eight columns">
				<div id="featuredContent" style="margin-top:80px;">
					<!-- <div>
						<div style="padding-top: 10px;">
					    	<h2>UC Berkeley's Finest Entrepreneurs Are Made Here</h2>
					    </div>
				    	<h4>We Help you Realize your Vision and  Build the Future.</h4>
				    	<a href="#" class="button">Learn More</a>
				  	</div> -->
				  	<div class="current" id="mycet">
						<div data-magellan-destination="mycet"></div>
						<div class="row">
							<div class="four columns">
							</div>
							<div class="eight columns">
                                <a href="http://www.surveymonkey.com/s/H7YTXKS">Click here to take survey</a>
								<h2>Join the CET Network</h2>
								<a href="/profiles/signup/" class="button">Request Invite</a>
								<h4>A social network designed to empower UC Berkeley entrepreneurs.</h4>
								<p>The Center for Entrepreneurship and Technology at UC Berkeley is one of the strongest communities of successful entrepreneurs in the world. It is an exclusive network designed for UC Berkeley entrepreneurs to share information, get in touch with mentors, learn from experienced faculty members, and much more.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="three columns">
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="current" id="mission">
			<h1 class="header-center">Our Mission</h1>
			<h5 class="content-center">Through teaching, programs, and research, CET equips engineers and scientists with the skills to<br /> innovate, productize, and commercialize technology in the global economy.</h5>
		</div>	
	</div>

	<!-- <div class="row">
		<div class="three columns">
			<a href="/profiles/signup/">
				<img style="width:300px;" src="/site_media/static/images/myCET_icon.png">
				<p class="content-center">myCET</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/globalprograms/#cet">
				<img style="width:300px;" src="/site_media/static/images/Certificate_icon.png">
				<p class="content-center">CET Certification</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/globalprograms/#courses">
				<img style="width:300px;" src="/site_media/static/images/Courses_icon.png">
				<p class="content-center">CET Courses</p>
			</a>
		</div>
		<div class="three columns">
			<a href="/program/programs/#venturelab">
				<img style="width:300px;" src="/site_media/static/images/VentureLab_icon.png">
				<p class="content-center">Venture Lab</p>
			</a>
		</div>

		<hr />
	</div> -->
	

	<div class="row">
		<div class="four columns">
			<h3>News</h3>
			<hr />
            {% for item in new_items %}
                <h6>{{item.title}}</h6>
                <p>{{item.description}}</p>
            {% endfor %}
		</div>
		<div class="four columns">
			<h3>Events</h3>
			<hr />
			{% for event in events %}
			<div class="row">
				<div class="five columns">
					<img class"event-image" src="{{event.image.url}}">
				</div>
				<div class="seven columns">
					<h6>{{event.start_time|date:"l, j N Y"}}</h6>
					<p>{{event.description|truncatechars:140}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="four columns">
			<h3>Testimonials</h3>
            <a href="{% url testimonial_create %}">Add Testimonial</a>
			<hr />
            {% for testimonial in testimonials %}
            <blockquote>{{testimonial.description}}
                <cite>{{testimonial.name}}</cite>
            </blockquote>
            {% endfor %}
		</div>
		<hr />
	</div>
    <script type='text/javascript'>
	   $(window).load(function() {
	       $('#featuredContent').orbit({ fluid:'16x5', directionalNav: false, bullets:true, bulletsThumbs:true, });
	 });
	</script>










{% endblock %}


