{% extends "company/base.html" %}

{% block body %}
	<div class="row">
		<div class="twelve columns centered">
			<h1 class="header-center" style="padding-top:40px;">CET Companies</h1>
			<p style="text-align:center;">These are some of the companies that came out of one of the CET programs in recent years.</p>
		</div>
	</div>
	<div class="row">
		<div style="margin-bottom:20px;" class="twelve columns">
			<hr/>
		    {% for company in companies %}
			    <div class="three columns">
	        	  	<li style="list-style:none;">
	        	  		<a class="th radius" href="/company/profile/{{company.id}}/">
							<img src="{{company.image.url}}" />
						</a>
					</li>
				</div>
		    {% endfor %}
		</div>
	    <hr/>
	</div>
{% endblock %}
