{% extends "base.html" %}
{% load humanize %}

{% block head_title %}{{company.name}}{% endblock %}

{% block body %}
	<div class="row" style="padding-top:15px;">
		<div class="three columns">
            {% if company.image %}
                <div>
                    <a href="{{company.url}}" class="th"><img src="{{company.image.url}}" style="width:100%;"/></a>
                </div>
            {% endif %}
		  	<div>
                <br />
                <a href="{{company.url}}" class="button">Visit Company Site</a>
            </div>
            <div>
                <br />
                {# if user.get_profile in company.profile_set.all #}
                    <a href="{% url company_edit company.pk %}" class="button">Edit Company Page</a>
                {# endif #}
            </div>
		  	<div>
		  		{% if companu.profile_sit.all.count %}
		    	<h5>Team</h5>
		    	<dl>
				  	<dt>Co-Founders</dt>
				  	<dd>
                        {% for founder in company.profile_set.all %}
                            {{founder.user.get_full_name}}<br />
                        {% endfor %}
				  	</dd>
				</dl>
				{% endif %}
		  	</div>
		  	<div>
		    	<h5>Funding</h5>
		    	<p>
                    {{company.investors}}
		    	</p>
		  	</div>
		  	<!-- <div>
		    	<h5>Featured In</h5>
		    	<p>
		    		<a href="http://www.google.com">Techcrunch</a><br />
		    		<a href="http://www.google.com">Crunchies</a><br />
		    		<a href="http://www.google.com">New York Times</a><br />
		    		<a href="http://www.google.com">Forbes</a><br />
		    	</p>
		  	</div> -->
		</div>
		<div class="nine columns" style="border-left:1px solid grey">
			{% if company.video %}
            <iframe width="640" height="360" src="{{company.video}}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
			<h4>About</h4>
            <p>{{company.pitch}}</p>
			{% if company.milestones.count %}
			<h4>Updates</h4>
			<ul class=""
			<h4>Milestones</h4>
			<div class="row">
				<div class="twelve columns">
	                    {% for milestone in company.milestones.all %}
	                        <div class="row">
	                            <div class="four columns">
	                                <blockquote class="milestone">
	                                    <p>{{milestone.title}}
	                                        <cite>{{milestone.date}}</cite>
	                                    </p>
	                                </blockquote>								
	                            </div>
	                            <div class="eight columns">
	                                <div class="panel radius">
	                                    <p>
	                                        {{milestone.description}}
	                                    </p>
	                                </div>
	                            </div>
	                        </div>
	                    {% endfor %}
				</div>
			</div>
            {% endif %}
		</div>
	</div>
{% endblock %}


