{% extends "staticpages/base.html" %}		

{% block content %}
	
	<ul class="seven columns centered" id="left-navbar">
	  <li class="current"><a href="#startupatberkeley">Startup@Berkeley</a></li>
	  <li><a href="#tsinghua">Tsinghua-Berkeley GTE Center</a></li>
	  <li><a href="#syndicatedprograms">Syndicated Programs</a></li>
	</ul>
	
	</div>
	<div class="nine columns" id="main-content">
		<div class="ten columns">
			<div class="current" id="startupatberkeley">
				<h1>Startup@Berkeley</h1>
			</div>
			<div id="tsinghua">
				<h1>Tsinghua-Berkeley GTE Center</h1>
			</div>
			<div id="syndicatedprograms">
				<h1>Syndicated Programs</h1>
			</div>
		</div>

{% endblock %}