{% extends "base.html" %}

{% block head_title %}About{% endblock %}

{% block body %}
<div data-magellan-expedition="fixed" class="top-bar-sub-nav">
	<div class="row">
		<div class="twelve columns">
		<dl class="sub-nav" style="margin-bottom:0px;">
	    	<dd data-magellan-arrival="mycet"><a href="#mycet">myCET</a></dd>
	    	<dd data-magellan-arrival="venturelab"><a href="#venturelab">Venture Lab</a></dd>
	    	<dd data-magellan-arrival="skydeck"><a href="#skydeck">Skydeck</a></dd>
	    	<dd data-magellan-arrival="globalprograms"><a href="#globalprograms">Global Programs</a></dd>
	  	</dl>
	  </div>
	</div>
</div>

<div class="row">

	<div class="current" id="mycet">
		<div data-magellan-destination="mycet"></div>
		<div class="row">
			<div class="four columns">
				<br /><br /><br />
				<a href="/profiles/signup/" class="button">Request Invite</a>
			</div>
			<div class="eight columns">
				<h4>myCET</h4>
				<em>The Social Network for Berkeley Founders</em>
				<p>This is not another Facebook. myCET is an exclusive network designed for Berkeley founders to connect with other founders, post pitches, connect with mentors and investors, showcase their products, ask for feedback, find testers, and recruit talent.</p>
			</div>
		</div>
	</div>

	<hr />

	<div id="venturelab">
		<div data-magellan-destination="venturelab"></div>
		<div class="row">
			<div class="eight columns">
				<h4>Venture Lab</h4>
				<em>Technology Startup Accelerator</em>
				<p>Venture Lab provides workspace, financial support in the form of competition prizes (up to $30,000), and access to an extensive network of experienced entrepreneurs and venture capitalists.</p>
			</div>
			<div class="four columns">
				<br /><br /><br />
				<a href="#" class="button">Apply</a>
			</div>
		</div>
	</div>

	<hr />

	<div id="skydeck">
		<div data-magellan-destination="skydeck"></div>
		<div class="row">
			<div class="four columns">
				<br /><br /><br />
				<a href="#" class="button">Get Space</a>
			</div>
			<div class="eight columns">
				<h4>Skydeck</h4>
				<em>10,000 sq. ft. of space for innovation and new ventures in downtown Berkeley.</em>
				<p>Located in the penthouse of the Chase building on Shattuck with a breathtaking view of the Bay, the Skydeck is a great space for student entrepreneurs to work on their projects.</p>
			</div>
		</div>
	</div>

	<hr />

	<div id="globalprograms">
		<div data-magellan-destination="globalprograms"></div>
		<div class="row">
			<div class="twelve columns">
				<h4>Global Programs</h4>
				<em>CETʼs global courses and networks.</em>
				<ul>
					<li>Tsinghua-Berkeley Global Technology Entrepreneurship Center (GTE)</li>
					<li>Berkeley Mobile International Collaborative (BMIC) with University of Barcelona</li> 
					<li>Global Venture Lab Network</li>
				</ul>
			</div>
		</div>
	</div>
</div>



{% endblock %}
