{% extends "profiles/base.html" %}

{% block body %}
	<div class="row">
		<!-- <div class="nine columns">
			<a class="button secondary radius" href="/profile/explore">Explore the CET network</a>
	        {% if tmp_profile %}
	            <a class="button secondary radius" href="{% url company_profile tmp_profile.company.pk %}">{{ tmp_profile.company.name}}</a>
	        {% endif %}
		</div> -->
		<div class="twelve columns">
		    <div id="chatroom">
		    	{% include "chatroom/_wall.html" %}
		    </div>
		</div>
	</div>
{% endblock %}
