{% load comments %}
<br />
<br />
<br />
<div class="row">
    <div class="two-2 columns">
        <style>
            .chatroom_button{
                background:#ddd;
                border:1px solid #AAA;
                padding:15px;
                margin:5px;
                color:#666;
                cursor:pointer;
            }
        </style>
        <a href="{% url mentor_list %}">
            <h5 class="chatroom_button">
                AVAILABLE MENTORS ({{mentors.count}})
            </h5>
        </a>
        <a href="{% url company_list %}">
            <h5 class="chatroom_button">
                FOUNDER DIRECTORY
            </h5>
        </a>
        <a href="{% url investor_list %}">
            <h5 class="chatroom_button">
                INVESTOR DIRECTORY ({{investors.count}})
            </h5>
        </a>
        <!--
        <h5 class="chatroom_button">
            FOLLOWING(20)
        </h5>
        <h5 class="chatroom_button">
            FOLLOWERS<strong>(5 new)</strong>
        </h5>
        <h5 class="chatroom_button">
            CONTACT REQUESTS (3)
        </h5>
        -->
    </div>
    <div class="eight columns" style="width:650px;">
        {% get_comment_form for site as form %}
        {% url chatroom_wall as next %}
        {% include "comments/form.html" %}
        <hr />
        {% render_comment_list for site %}
    </div>
    <div class="two columns">
        <br />
    </div>
</div>
